<h4>{{ title }}</h4>

<!-- One way to show all the countries -->
<!-- <div>
    <span *ngFor="let country of countries">
        <p>
            {{country.name}} <img src='{{country.flag}}' class="img-fluid rounded" alt="max-width: 30%; max-height 20%"> 
            {{country.capital}} {{country.region}}
        </p>
    </span>
</div> -->

<!-- First task of the assignment to display each country as a Bootstrap card component  -->
<!-- <div class="card" style="width: 18rem;" *ngFor="let country of countries">
    <img src="{{country.flag}}" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">{{country.name}}</h5>
        <p class="card-text">
            Capital: {{country.capital}}<br>
            Region: {{country.region}}
        </p>
        <a href="#" class="btn btn-primary">Go to {{country.name}}</a>
    </div>
</div> -->

<!-- One step further - live search bar that searches by country name -->
<form>
    <div class="form-group search-bar">
        <!-- Search -->
        <input type="text" class="form-control" placeholder="Search by name" #searchBox (input)="search(searchBox.value)">

        <!-- Progres -->
        <div class="loader" *ngIf="loading">
            <div class="c-three-dots-loader"></div>
        </div>
    </div>

    <div class="card" style="width: 18rem;" *ngFor="let country of countries | async">
        <img src="{{country.flag}}" class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{country.name}}</h5>
            <p class="card-text">
                Capital: {{country.capital}}<br>
                Region: {{country.region}}
            </p>
            <a href="#" class="btn btn-primary">Go to {{country.name}}</a>
        </div>
    </div>
</form>